* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}

.btn {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
